.user-list {
  margin: 20px auto; 
  padding: 20px; 
  max-width: 600px; 
  border: 1px solid #ccc;
  text-align: center; 
}

.user-list ul {
  list-style-type: none;
  padding: 0;
}

.user-list li {
  margin-bottom: 10px;
}

.user-name {
  font-weight: bold;
  color: #333; 
  padding: 2%;
}

.user-email {
  color: #666; 
}
